In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2009.csv")
df2 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2010.csv")
df3 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2011.csv")
df4 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2012.csv")
df5 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2013.csv")
df6 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2014.csv")
df7 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2015.csv")
df8 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2016.csv")
df9 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2017.csv")
df10 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2018.csv")
df11 = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data2019.csv")

In [3]:
df1['year'] = 2009
df2['year'] = 2010
df3['year'] = 2011
df4['year'] = 2012
df5['year'] = 2013
df6['year'] = 2014
df7['year'] = 2015
df8['year'] = 2016
df9['year'] = 2017
df10['year'] = 2018
df11['year'] = 2019

In [4]:
df11.head()

,author,title,types,price,review,rate,year
0,Delia Owens,Where the Crawdads Sing,Hardcover,"<span class=""a-size-base""><span class=""p13n-sc...","376,112",4.8 out of 5 stars,2019
1,Michelle Obama,Becoming,Hardcover,"<span class=""a-size-base""><span class=""p13n-sc...","124,513",4.8 out of 5 stars,2019
2,Tara Westover,Educated: A Memoir,Hardcover,"<span class=""a-size-base""><span class=""p13n-sc...","72,382",4.7 out of 5 stars,2019
3,Dav Pilkey,Dog Man: For Whom the Ball Rolls: From the Cre...,Hardcover,"<span class=""a-size-base""><span class=""p13n-sc...","24,247",4.9 out of 5 stars,2019
4,Rachel Hollis,"Girl, Wash Your Face: Stop Believing the Lies ...",Hardcover,"<span class=""a-size-base""><span class=""p13n-sc...","27,481",4.6 out of 5 stars,2019

In [9]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   author  135 non-null    object
 1   title   135 non-null    object
 2   types   135 non-null    object
 3   price   135 non-null    object
 4   review  135 non-null    object
 5   rate    135 non-null    object
 6   year    135 non-null    int64
dtypes: int64(1), object(6)
memory usage: 7.5+ KB

In [14]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1393 entries, 0 to 124
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   author  1393 non-null   object
 1   title   1393 non-null   object
 2   types   1393 non-null   object
 3   price   1393 non-null   object
 4   review  1393 non-null   object
 5   rate    1393 non-null   object
 6   year    1393 non-null   int64
dtypes: int64(1), object(6)
memory usage: 87.1+ KB

In [16]:
df.to_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped/data.csv")