In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("/home/miki/Desktop/Projects/Hamoye/amazon-sales-analysis/data/scraped_data.csv")

In [5]:
df['year'] = 2009

In [6]:
df.head()

,author,title,types,price,review,rate,year
0,Dan Brown,The Lost Symbol,Hardcover,"<span class=""a-size-base""><span class=""p13n-sc...","16,769",4.4 out of 5 stars,2009
1,William P. Young,The Shack: Where Tragedy Confronts Eternity,Paperback,"<span class=""a-size-base""><span class=""p13n-sc...","23,634",4.7 out of 5 stars,2009
2,Mark R. Levin,Liberty and Tyranny: A Conservative Manifesto,Hardcover,"<span class=""a-size-base""><span class=""p13n-sc...","5,063",4.8 out of 5 stars,2009
3,Stephenie Meyer,"Breaking Dawn (The Twilight Saga, Book 4)",Hardcover,"<span class=""a-size-base""><span class=""p13n-sc...","17,355",4.7 out of 5 stars,2009
4,Sarah Palin,Going Rogue: An American Life,Hardcover,"<span class=""a-size-base""><span class=""p13n-sc...","1,570",4.6 out of 5 stars,2009

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   author  133 non-null    object
 1   title   133 non-null    object
 2   types   133 non-null    object
 3   price   133 non-null    object
 4   review  133 non-null    object
 5   rate    133 non-null    object
 6   year    133 non-null    int64
dtypes: int64(1), object(6)
memory usage: 7.4+ KB